.container__profesionalData {
  width: 500px;
  height: 600px;
  border-left: 4px solid var(--main-color);
  font-size: 18px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.form__profesionalData {
  padding: 15px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  width: fit-content;
  height: 100%;
}

.form__containerData {
  width: fit-content;
  height: 250px;

  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  flex-direction: column;
}

.form__profesional-details {
  display: flex;
  align-items: flex-start;
  margin: 10px;
}

.button__add-skill {
  all: unset;
  cursor: pointer;
  border: 1px solid rgba(0, 0, 0, 0.966);
  background-color: rgb(116, 255, 103);
  font-size: 13px;
  padding: 2px;
  height: 18px;
}

.skills-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.skill-list {
  cursor: pointer;
  width: fit-content;
  padding: 6px 12px;
  margin: 3px;
  border-radius: 20px;
  background-color: rgba(0, 153, 255, 0.452);
}

.skill-list:hover {
  background-color: rgba(0, 153, 255, 0.144);
  text-decoration: line-through;
}

.form__keypad {
  width: 100%;
  justify-content: space-around;
  display: flex;
}
.warning-profesional {
  font-size: 16px;
}
