body,
html {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  background-color: rgb(255, 183, 117);
}

#root {
  height: 100%;
  width: 700px;
}

input,
textarea,
select {
  width: 180px;
  padding: 2px;
  margin-left: 5px;
  resize: none;
}

h1,
h2,
h3,
p {
  margin: 0;
}

ul {
  list-style: none;
  padding: 0;
  margin: 3px;
}
